# Ignorar a pasta models
models/

# Ignorar arquivos com extensão .onnx
*.onnx

# Ignorar arquivos do Visual Studio
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignorar arquivos Python de cache
__pycache__/
*.pyc
*.pyo

# Ignorar a pasta do ambiente virtual
oai/
venv/

# Ignorar outros arquivos temporários
*.log
*.tmp

# Ignorar a pasta data
data/

# Ignorar a pasta node_modules dentro de frontend
frontend/node_modules/

# Ignorar o arquivo package-lock.json
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
